/* GENERICS */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.row {
    flex-wrap: wrap;
    display: flex;
    margin: 0 -1rem;
}

.btn {
    border-radius: 20px;
    background-color: white;
    border: 1px solid transparent;
    padding: 0 1rem;
    color: #333333;
}

.card {
    border-radius: 20px;
    padding: 1.5rem;
}

/* BODY */

body {
    line-height: 2rem;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
    height: 5rem;
    background-color: #0084fd;
    margin-bottom: 2rem;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: white;
}

.nav-bar>ul {
    gap: 2rem;
}

.nav-bar a {
    color: inherit;
}

.nav-bar a {
    color: inherit;
}

.hamburger-menu {
    display: none;
}



/* MAIN 
    SECTION 1 */
#section-1 {
    margin-bottom: 5rem;
}

#section-1 .col {
    display: flex;
    padding: 1rem;
}

#section-1 .card {
    display: flex;
    background-color: #b5ddff;
    gap: 1rem;
}

#section-1 img {
    width: 85%;
    margin-bottom: -3rem;
}

#section-1 .left {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 3rem;
}


#section-1 .right {
    justify-content: center;
    align-items: end;
}


#section-1 h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #0084fd;
}

#section-1 .btn {
    align-self: flex-start;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 2rem;
    background-color: #0084fd;
    color: white;
}

#section-1 .btn>i {
    margin-right: .5rem;

}

#section-1 p {
    color: #5a6e7f;
    font-weight: 500;
}

#section-1 .col {
    text-align: center;
}

#section-1 span>i {
    font-size: 6rem;
    color: #0084fd;
}

/* SECTION 2 */
#section-2 {
    background-color: #9792e4;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

#section-2 h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

#section-2 .left-side img {
    margin-bottom: 8rem;
}


.left-side {
    color: white;
}

.right-side {
    margin-top: auto;
}

#section-2 .col {
    gap: 4rem;
}

#section-2 .right-side p {
    font-style: italic;
    text-align: center;
}

#section-2 .right-side span {
    background-color: #9792e4;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.5rem;
}

#section-2 h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.card-section2 {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: white;
    border-radius: 30px;
    padding: 2rem;
}

.card-section2>img {
    width: 60%;
}


/* SECTION 3
    "testimolnials" */

.section-3 {
    margin-top: 2rem;
    margin-bottom: 7rem;
}

.card-section3 {
    background-color: #9792e4;
    color: white;
    margin: 1rem 0;
    border-radius: 30px;
}

.section-3>.text {
    text-align: center;
}

.section-3 p>i {
    font-size: 1.3rem;
    margin: 0 .5rem;
}

.card-section3 img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding: 1rem;

}

.text-in-card {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3rem;
}

.name {
    font-size: 1.3rem;
    font-weight: 500;
}

.section-3 h3 {
    font-size: 3rem;
    font-weight: 500;
    color: #9792e4;
    margin: 2rem 0;
}

.text>p {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

/* SECTION 4
    Benefits */
#section-4 {
    background-color: #9792e4;
    padding-bottom: 4rem;
}

#section-4 h2 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 4rem 0;
}

#section-4 .number {
    font-size: 4rem;
    color: #9792e4;
    font-weight: 600;
    padding: 2rem 0;
}

#section-4 h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #9792e4;
    padding-bottom: 1rem;
}

#section-4 p {
    color: #989898;
    padding-bottom: 1rem;
    font-weight: 500;
}

#section-4 .btn {
    background-color: #9792e4;
    color: white;
    width: 40%;
    text-align: center;
}

#section-4 .card {
    background-color: white;
}

#section-4 .col {
    padding: 1rem;
}



/* SECTION 5
    About Us */

.section-5 {}

.left-side-section5 {
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 0;
}

.right-side-section5 {
    flex-direction: column;
    padding: 4rem 0 3rem 4rem;
}

.right-side-section5 img {
    width: 200px;
    border-radius: 50%;
    margin: 1rem 0;
}

.right-side-section5>h3 {
    margin: 1rem 0;
}

.right-side-section5>button {
    margin: 1rem 0;
}


/* FOOTER
    top footer */
footer {
    background-color: #9792e4;
}

.top-footer {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 2rem 0;
}

.top-footer ul {
    margin: 0 auto;

}

.top-footer ul>li {
    margin: 0 .2rem;
}

.bottom-footer {

    color: white;

    background-color: #333333;
}

.bottom-footer p {
    padding: 2rem 0 1.5rem 0;
}



/* @MEDIA QUERIES */

@media screen and (max-width: 992px) {

    /* HEADER */

    .nav-bar {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    /* SECTION 1 */
    #section-1 .left {
        width: 100%;
    }

    #section-1 .right {
        justify-content: flex-start;
        width: 100%;
    }

    #section-1 .card {
        flex-wrap: wrap;
    }

    #section-1 .card img {
        width: 65%;
    }


    /* SECTION 2 */
    #section-2 .col {
        flex-direction: column;
    }

    .left-side-section2 {
        width: 100%;
    }

    .right-side-section2 {
        width: 100%;
    }

    /* SECTION 4 */

    #section-4 .col {
        width: 50%;
    }

    #section-4 .btn {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {

    /* SECTION 1 */

    #section-1 .row {
        flex-wrap: wrap;
    }

    #section-1 .col {
        width: 100%;
    }

    #section-1 .col .right img {
        width: 100%;
    }



    /* SECTION 3 */

    .card-section3 {
        flex-direction: column;
        margin: 1rem auto;
    }

    .card-section3 img {
        margin: 0 auto;
    }

    .name {
        text-align: center;
    }

    /* SECTION 4 */
    #section-4 .col {
        width: 100%;
    }

    /* SECTION 5 */
    .left-side-section5,
    .right-side-section5 {
        width: 100%;
    }
}