header {
    height: 5rem;

    /* DEBUG */
    background-color: #0084fd;
}

/* GENERICS */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* HEADER */

header {
    margin-bottom: 2rem;
}

.top-header {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1.5rem;
    color: white;
}

.header-right>ul {
    gap: 1rem;
}

.header-right a {
    color: inherit;
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .header-right {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}

/* MAIN 
    SECTION 1 */

.section-1 {
    margin-bottom: 3rem;
}

.section-1>.col {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.section-1 .card {
    background-color: #b5ddff;

    /* DEBUG */
    /* height: 5rem; */
}

.section-1 .w-66 {
    width: calc(100% /3 * 2 - 1rem);
}

.section-1 .w-33 {
    width: calc(100% /3 - 1rem);
}

@media screen and (max-width: 768px) {
    .section-1 .w-66 {
        flex-direction: column;
    }

    .left-side {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .section-1>.col {
        flex-direction: column;
    }

    .section-1 .card {
        width: 100%;
    }

    .right-side {
        width: 100%;
    }
}

/* SECTION 2 */
.section-2 {
    background-color: #9792e4;
    padding-bottom: 3rem;
}

.right-side-section2 {
    margin-top: auto;
}

.section-2 .col {
    gap: 4rem;
}

.card-section2 {
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.card-section2>img {
    width: 60%;
}

@media screen and (max-width: 768px) {
    .section-2 .col {
        flex-direction: column;
    }

    .left-side-section2 {
        width: 100%;
    }

    .right-side-section2 {
        width: 100%;
    }
}