header {
    height: 5rem;

    /* DEBUG */
    background-color: #0084fd;
}

/* GENERICS */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.row {
    flex-wrap: wrap;
    display: flex;
    margin: 0 -1rem;
}

/* BODY */

body {
    line-height: 2rem;
}

/* HEADER */

header {
    margin-bottom: 2rem;
}

.top-header {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1.5rem;
    color: white;
}

.header-right>ul {
    gap: 1rem;
}

.header-right a {
    color: inherit;
}

.hamburger-menu {
    display: none;
}



/* MAIN 
    SECTION 1 */

#section-1 .col {
    display: flex;
    padding: 1rem;
}

#section-1 .card {
    background-color: #b5ddff;
}

#section-1 .card.right img {
    width: 100%;
}



/* SECTION 2 */
.section-2 {
    background-color: #9792e4;
    padding-bottom: 3rem;
}

.right-side-section2 {
    margin-top: auto;
}

.section-2 .col {
    gap: 4rem;
}

.card-section2 {
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.card-section2>img {
    width: 60%;
}


/* SECTION 3
    "testimolnials" */

.section-3 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.card-section3 {
    background-color: #9792e4;
    color: white;
    margin: 1rem 0;
}

.section-3>.text {
    text-align: center;
}

.card-section3 img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding: 1rem;

}

.text-in-card {
    flex-direction: column;
    justify-content: space-evenly;
}



/* SECTION 4
    Benefits */

#section-4 {
    background-color: #9792e4;
}

#section-4 .card {
    background-color: white;
}

#section-4 .col {
    padding: 1rem;
}



/* SECTION 5
    About Us */

.section-5 {}

.left-side-section5 {
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 0;
}

.right-side-section5 {
    flex-direction: column;
    padding: 4rem 0 3rem 4rem;
}

.right-side-section5 img {
    width: 200px;
    border-radius: 50%;
    margin: 1rem 0;
}

.right-side-section5>h3 {
    margin: 1rem 0;
}

.right-side-section5>button {
    margin: 1rem 0;
}


/* FOOTER
    top footer */
footer {
    background-color: #9792e4;
}

.top-footer {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 2rem 0;
}

.top-footer ul {
    margin: 0 auto;

}

.top-footer ul>li {
    margin: 0 .2rem;
}

.bottom-footer {

    color: white;

    background-color: #333333;
}

.bottom-footer p {
    padding: 2rem 0 1.5rem 0;
}



/* @MEDIA QUERIES */

@media screen and (max-width: 992px) {

    /* HEADER */

    .header-right {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    /* SECTION 1 */

    #section-1 .card.left {
        width: 100%;
    }

    #section-1 .col .right img {
        width: 50%;
    }

    #section-1 .col.w-66 {
        flex-wrap: wrap;
    }


    /* SECTION 2 */
    .section-2 .col {
        flex-direction: column;
    }

    .left-side-section2 {
        width: 100%;
    }

    .right-side-section2 {
        width: 100%;
    }

    /* SECTION 4 */

    #section-4 .col {
        width: 50%;
    }

}

@media screen and (max-width: 600px) {

    /* SECTION 1 */

    #section-1 .row {
        flex-wrap: wrap;
    }

    #section-1 .col {
        width: 100%;
    }

    #section-1 .col .right img {
        width: 100%;
    }



    /* SECTION 3 */
    .card-section3 {
        flex-direction: column;
        margin: 1rem auto;
    }

    .card-section3 img {
        margin: 0 auto;
    }

    /* SECTION 4 */
    #section-4 .col {
        width: 100%;
    }

    /* SECTION 5 */
    .left-side-section5,
    .right-side-section5 {
        width: 100%;
    }
}